<div class="container">

    <div>
      <img src="https://pbs.twimg.com/profile_images/666407537084796928/YBGgi9BO.png" class="twitterimg">
      <h1>Let's Grab Tweets From:</h1>
      <form ng-submit="vm.submit(vm.name)" name="usernameSearch" ng-disabled="usernameSearch.$invalid">
        <div>
          <input type="text" placeholder="enter username.." class="username" ng-model="vm.name" minlength="1" required>
        </div>
      </form>
    </div>
  <p class="error" ng-if="vm.isInvalid">Error. Please type in valid username.</p>
  <div class="loader" ng-show="vm.isLoading">Loading...</div>

</div>