<!--<div>-->
  <!--<form ng-submit="dashboard.submit(dashboard.name)">-->
    <!--<input type="text" ng-model="dashboard.name" placeholder="Enter username..">-->
    <!--<input type="submit">-->
  <!--</form>-->

  <!--<div ng-repeat="tweet in dashboard.tweets">-->
    <!--<ul>-->
      <!--<li>{{tweet.created_at}}</li>-->
      <!--<li>{{tweet.text}}</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->

<div class="site-wrapper">

  <div class="site-wrapper-inner">
    <div class="cover-container">

    <div class="inner cover">
      <h1 class="cover-heading">Let's Grab Tweets From:</h1>
      <form class="inline-form">
        <div class="form-group">
          <input type="text" placeholder="Enter username..." class="form-control">
          <!--<a href="#" class="btn btn-lg btn-default">Learn more</a>-->
        </div>
          <input type="submit" class="btn btn-primary"></input>

      </form>
    </div>
      </div>
  </div>
</div>