<div class="container" ng-init="vm.extractHashTags(vm.tweets)">
  <div class="profile">
    <img src={{vm.user.profile_image_url}} alt="User Profile Image">
    <p><strong>Name:</strong> {{vm.user.name}}</p>
    <p><strong>Twitter Username:</strong> {{vm.user.screen_name}}</p>
    <p><strong>Followers Count:</strong> {{vm.user.followers_count}}</p>
    <p><strong>Friends Count:</strong> {{vm.user.friends_count}}</p>
    <a ui-sref="dashboard">Go Back</a>

  </div>

  <div>
    <ul ng-repeat="hashtag in vm.hashtags" class="hashtags">
      <li ng-click="vm.setHash(hashtag)">#{{hashtag}}</li>
    </ul>
    <p ng-click="vm.setHash()" class="hashtagReset">Hashtag Reset</p>
  </div>

  <div>
  <div ng-repeat="tweet in vm.tweets | filter: vm.hash" class="tweets">
    <!--<div style="display: inline-block">-->
      <!--<img src="http://getfreeicon.com/preview/heart_small.png" alt="" style="height: 20px">-->
    <!--</div>-->
    <div style="display: inline-block">
      <table>
        <tr>
        <td>
          <!--<img src="http://getfreeicon.com/preview/heart_small.png" alt="" >-->
          <img src="../../assets/heart.jpg" style="height:20px" ng-click="vm.setIndex($index)" alt="favorite">
        </td>
        <td style="height: 20px">
          <ul>
            <li>{{tweet.created_at}}</li>
            <li>{{tweet.text}}</li>
          </ul>
        </td>
        </tr>
      </table>

    </div>
  </div>
  </div>
</div>