<div class="contaier">
  <div class="profile">
    <img src={{vm.user.profile_image_url}} alt="User Profile Image">
    <p><strong>Name:</strong> {{vm.user.name}}</p>
    <p><strong>Twitter Username:</strong> {{vm.user.screen_name}}</p>
    <p><strong>Followers Count:</strong> {{vm.user.followers_count}}</p>
    <p><strong>Friends Count:</strong> {{vm.user.friends_count}}</p>
    <a ui-sref="dashboard">Go Back</a>

  </div>
  <div>
  <div ng-repeat="tweet in vm.tweets" class="tweets">
    <!--<div style="display: inline-block">-->
      <!--<img src="http://getfreeicon.com/preview/heart_small.png" alt="" style="height: 20px">-->
    <!--</div>-->
    <div style="display: inline-block">
      <table>
        <tr>
        <td>
          <img src="http://getfreeicon.com/preview/heart_small.png" alt="" style="height: 12px" ng-click="vm.clicked()">
        </td>
        <td style="height: 20px">
          <ul>
            <li>{{tweet.created_at}}</li>
            <li>{{tweet.text}}</li>
          </ul>
        </td>
        </tr>
      </table>

    </div>
  </div>
  </div>
</div>